<h1>Listagem do faturamento</h1>

<mat-toolbar class="new-item">
  <a mat-raised-button color="accent" [routerLink]="['/faturamento/novo']">
    <mat-icon class="white-icon">add_circle</mat-icon>
    Lançar Faturamento
  </a>
</mat-toolbar>
<table mat-table [dataSource]="faturamentos" class="mat-elevation-z8">

    <ng-container matColumnDef="nro_duplicata">
      <th mat-header-cell *matHeaderCellDef>Nº Duplicata</th>
      <td mat-cell *matCellDef="let faturamento">{{faturamento.nro_duplicata}}</td>
    </ng-container>

    <ng-container matColumnDef="nro_nota">
        <th mat-header-cell *matHeaderCellDef>Nº Nota</th>
        <td mat-cell *matCellDef="let faturamento">{{faturamento.nota?.nro_nota}}</td>
    </ng-container>

    <ng-container matColumnDef="data">
      <th mat-header-cell *matHeaderCellDef>Data Emissão</th>
      <td mat-cell *matCellDef="let faturamento">{{faturamento.nota?.data}}</td>
  </ng-container>

  <ng-container matColumnDef="valor">
    <th mat-header-cell *matHeaderCellDef>Valor</th>
    <td mat-cell *matCellDef="let faturamento">{{faturamento.nota?.valor | currency:'BRL':'symbol':'1.2-2':'pt'}}</td>
  </ng-container> 

    <ng-container matColumnDef="data_vencimento">
      <th mat-header-cell *matHeaderCellDef>Data de Vencimento</th>
      <td mat-cell *matCellDef="let faturamento">{{faturamento.data_vencimento}}</td>
    </ng-container>
  
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let faturamento">{{faturamento.status}}</td>
    </ng-container>
    
    <ng-container matColumnDef="usuario">
        <th mat-header-cell *matHeaderCellDef>Usuário</th>
        <td mat-cell *matCellDef="let faturamento">{{faturamento.usuario?.nome_usuario}}</td>
    </ng-container>

    <ng-container matColumnDef="editar">
        <th mat-header-cell class="cell-align-center" *matHeaderCellDef>Editar</th> 
        <td mat-cell class="cell-align-center" *matCellDef="let faturamento">
            <a mat-raised-button color="accent" title="Editar" 
                [routerLink]="['/faturamento',faturamento._id]">
                <mat-icon class="white-icon">edit</mat-icon>
            </a>
        </td>
    </ng-container>
    
      <ng-container matColumnDef="excluir">
        <th mat-header-cell class="cell-align-center" *matHeaderCellDef>Excluir</th> 
        <td mat-cell class="cell-align-center" *matCellDef="let faturamento">
            <button mat-raised-button color="warn" title="Excluir" (click)="excluir(faturamento._id)">
                <mat-icon>delete_forever</mat-icon>
            </button>
        </td>
      </ng-container> 
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>