mat-toolbar {

    // Regra do filho dentro da regra do pai: possível só em SCSS
    mat-icon {
        height: 20px;
        width: 20px;
        font-size: 20px;
    }

    justify-content: center;
    font-size: 90%;
    height: 40px;
    position: fixed;
    bottom: 0;
}

/* CSS puro
mat-toolbar mat-icon {
    height: 20px;
    width: 20px;
    font-size: 20px;
}*/